#header {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  width: 75px;
}

.nav-items>ul {
  display: flex;
  margin: 20px 30px 0 0;
}

.nav-items>ul>li {
  margin: 0px 10px;
  list-style: none;
}

.nav-items>ul>li>a {
  text-decoration: none;
}

.restro-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10;
    justify-content: space-evenly;
}

.restro-container>a{
  text-decoration: none;
  color: black;
}

.restro-card {
    width: 250px;
    height: 400px;
    background-color: #f0f0f0;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.restro-card:hover {
    border: 1px solid black;
}

.restro-logo{
    width: 100%;
    height: 40%;
}

.filter-btn{
  margin: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.shimmer-card {
    width: 250px;
    height: 400px;
    background-color: #f0f0f0;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.login{
  cursor: pointer;
}

.filters {
  display: flex;
}

.search {
  margin-top: 9px;
}

.retro-container>.restro-logo{
  width: 500px;
}